
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand{
    font-size: 50px;
    width: 200px;
    margin: 0;
  
}


nav{
    background-color: #a2c1d6;
    height: 100px;
    width: 100%;
}
.navbar-nav{
    text-align: center;
    clear: both;
    /* background-color: #fff; */
    /* margin-left: -18px;
    margin-bottom: -10px; */

}
.navbar-toggler:checked-h1{
    position: absolute;
   
    top: 100px;
}
.navbar-toggler{
    padding: 0;
}
.collapse{
    width: 100px;
}
.nav-item{
    border-top: 1px solid black;
    border-width: 100%;
    font-size: large;
}
.nav-item:nth-child(3){
    border-bottom: 1px solid black;
}

h1{
    margin: auto;
    
}
.container{
   
    background-color: lightblue;
    border: 1px solid black;
    
}
.column1 p{
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
@media (max-width: 990px){
    /* h1{
        margin-top: 120px;
    }
    .container{
        margin-top: 80px;
        
        
    }
     */
}