body {
    font-size: 16px;
  }

/** HEADER **/
#header-nav {
    border-radius: 0;
    border: 0;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    border-right-color: black;
    background-color: gray;
    padding-bottom: 1px;
height: 100px;
   
  }

  .navbar-brand {
    padding-top: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .navbar-brand h1 { /* Restaurant name */
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    color: black;
    position: absolute;
    margin-top: -50px;
  }
  .navbar-light .navbar-toggler{
      margin-left: 400px;
      margin-top: -200px;
  }

  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  #nav-list {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    text-align: center;
   
  }
  #nav-list a {
    text-align: center;
    color:black;
  
  }
  #nav-list a:hover {
   
    text-decoration: none;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  #nav-list li {
      border: black;
      border-width: 1;
      margin-top: 1px;
      border-top: 2px solid black;
  }

  #navbarSupportedContent{
      border: 0;
      margin-bottom: 0;
      background-color: rgb(219, 65, 150);
      width: 100%;
      margin-right: -15PX;
      margin-left: -15PX;

  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

  #nav-button{
    margin-top: -46px;
  }

  #main-content{
    text-align: center;
  }

  #main-content h1{
      margin-top: 0;
      margin-bottom: 1em;
  }

  #menu-categories-title{
    font-weight: bold; padding-top: 1em;
  }

  section .menu-item-description{
    width: auto; margin: auto 0.2em 2em; background-color: gray; color: black;
  }

  section .menu-item-details{
    padding: 0.5em 2em 2em 2em;
  }
@media(max-width: 991px){
    #navbarSupportedContent{
        border: 0;
        margin-bottom: 0;
        background-color: rgb(219, 65, 150);
        width: 100%;
        margin-right: -15PX;
        margin-left: -15PX;
     
    }
}
@media(min-width: 991px){
    #nav-list {
        display: none;
      }
}
